@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
}

.body{
    box-sizing: border-box;
}

.main{
    width: 100%;
   background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
   background-position: center;
   background-size: cover;
   height: 109vh;
}
 
.navbar{
  width: 1200px;
  height: 75px ;
  margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}


.logo{
    color: blue;
    font-size: 25px;
    font-family:Arial;
    padding-left: 0px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: blue;
}

.search{
    width: 330px;
    float: left;
    margin-left: 250px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.brt{
    width: 100px;
    height: 40px;
    background:#fff;
    border: 2px solid #fff;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.brt:focus{
   outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    width: 1000px;
   padding-left: 20px;
   padding-bottom: 25px;
   font-family:Arial;
   letter-spacing: 2px;
   line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: blue;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid blue;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}


.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.brtn{
    width: 240px;
    height: 40px;
    background: blue;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.brtn:hover{
    background: #fff;
    color: blue;
}

.brtn a{
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: blue;
}

.liw{
   padding-top: 15px;
   padding-bottom: 10px;
   text-align: center;
}

.about{
   width: 100%;
   background: #fff;
   background-position: center;
   background-size: cover;
   height: 109vh;
}

.konta{
    width: 1000px;
    padding: 100px;
    height: auto;
    margin: auto;
    position: relative;
}

.gang{
    width: 1000px;
    padding: 20px;
    height: auto;
    margin: auto;
    position: relative;
}

.konta .lis{
    font-family: Arial;
    color: blue;
}

.konta .las{
    width: 20px;
    font-size: 50px;
    font-family: Verdana ;
}

.konta .artikel{
    font-size: 20px;
    font-family: 'Times New Roman';
    line-height: 110%;
    letter-spacing: 1px;
}

.konta .foto{
    width: 40%;
    padding: 20px;
    margin: 100spx;
    float: right;
    height: 200px;
    border: 2px solid #fff;
}

img{
    width: 500px;
    height: 300px;
}

/*---------about----------*/
/*---------counter---------*/
.counter {
    background-image: url("images\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    color: #fff;
  }
  
  .counter .grid {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    place-items: center;
    padding-top: 60px;
  }
  
  .counter h1 {
    font-size: 25px;
  }
  
  .counter hr {
    width: 50%;
    margin: 10px auto;
    background: #7fc142;
    height: 2px;
    border: none;
  }




